# Terraform .terraform directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*.backup
.terraform.tfstate.lock.info
*tfstate*

# Crash log files
crash.log


*.tfvars


# Saved plan files
*.tfplan

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Override files (if not intended for version control)
*_override.tf
*_override.tf.json

# Local provider lock file
.terraform.lock.hcl

*session-manager-plugin.deb