# Consul agent configuration for DB node
node_name = "{{ env_name }}-db"
data_dir = "/opt/consul/data"
server = false
bind_addr = "{{ ansible_default_ipv4.address }}"
retry_join = ["{{ env_name }}.consul.{{ env_name }}.internal"]

service {
  name = "postgres"
  port = 5432
  tags = ["db"]
  check {
    name     = "PostgreSQL TCP"
    tcp      = "localhost:5432"
    interval = "10s"
    timeout  = "1s"
  }
}