[Unit]
Description=Consul agent
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
ExecStart=/usr/bin/consul agent -config-file=/etc/consul.d/lb.hcl
Restart=on-failure

[Install]
WantedBy=multi-user.target