[Unit]
Description=A uWSGI instance to serve the Flask
After=network.target


[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/flask
Environment="PATH=/home/ubuntu/flask/flasktest/bin"
ExecStart=/home/ubuntu/flask/flasktest/bin/gunicorn --workers 4 --bind 127.0.0.1:5000 "birdproject:create_app()"


[Install]
WantedBy=multi-user.target
